.approved-row,
.rejected-row {
    padding: 1em;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    margin-bottom: 1em;
}

.rejected-row {
    background-color: darkred;
}

.resumen {
    max-width: 400px;
    background-color: black;
    color: white;
    font-weight: bold;
    margin: 1em auto;
    font-size: 1.4em;
    padding: 1em;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
}