
.title {
    color:rgb(241, 130, 50);
    font-size: 2em;
    font-family: sans-serif;
}

.description {
    color: rgb(70, 68, 68);
    font-family: sans-serif;
}

.line{
    height: 4px;
    width: 100%;
    background-color: rgb(212, 211, 211);
}